Please read through the following rules:

1. Game Completion - You must have completed at least one ending of Snoot Game or I Wani Hug That Gator! If you are not interested in either of these games, you do not belong here.

2. Harassment - Threats, doxing, catfishing, witch hunts, etc. will not be tolerated. Note that this usually takes place off-server or through direct messages. Please contact a moderator if this is happening to you or if you witness it happening to someone else in the community.

3. NSFW - This is an 18+ server and you agree that you are of age when joining. The server contains sexual content, harsh language and mature subject matter across all channels.

4. Illegal Content - Posting illegal pornography, gore, incitements of violence, etc. will not be tolerated.

5. No Spamming - Extremely repetitive messages such as frequent all caps messages, mass emojis, and mass image dumps are not allowed.

6. No Advertising - Solicitation or advertising of products, services or other Discord servers is not allowed. Artists are allowed to post their commission information in #creative-arts-class or #drawfriends.

7. Languages - This is an English speaking server, use primarily English when posting on the server.

8. Spoilers - Keep spoiler-related posts to their games' respective channels. If you need to make spoiler posts in #general or other channels, make sure they are spoiler tagged.

9. Conduct - Please behave well with one another; creeps and weirdos won't be tolerated if they can't stifle themselves. This typically involves disruptive behavior that doesn't apply for Rule 2, but still disturbs other users. Avoid discussions of politics and other divisive topics.

Use common sense and common decency in your interactions.

If you need help or have any questions, please ping or DM a moderator.

Once you have read and accepted these rules, click the check reaction on the post below to be allowed into the server.