Is this what boys are into these days?
What happened to 'let sleeping pteros lie'?
Voted most boopable snoot 201M2020 BC!
Let's see how YOU like it. poke
This is a one-time thing. got it?
Does Trish have one of these?
L-lewd...
Shh, not so loud...
You've been doing this for over a year now, don't you ever get tired of it?
Could it be you're after my...?
If you loved your work half as much...
B-But everyone can...
The first one is free.
D-dweeb...
N-Now?
That tickles!
Fine, but you'll owe me one.
You do realize pteros are carnivorous, right?
+>Input accepted. +>Dispensing Snoot.
Anooooon! Not in front of mom!
W-will there be nuggies..?
I'm t-trusting you, Anon...
Boop it, twist it, pull it, spin it!
As long as it's not my tail...
You owe me a dollar.
Please be gentle, Anon...
Do I look like Amber to you?
Make it quick, I have to get back to class...
H-Here?
Carrier has arrived.
I'm a Ptero, you DWEEB!
Do humans like snoot that m-much...?
Snootjob! Snootjob!
You don't have a backstage pass, dweeb.
When I said do whatever you want, I didn't mean...
Booping isn't metal, Anon.
Volcaldera .SNOOT Framework: `An unhandled exception has occurred with your ptero. Parameter is not valid.`
Just a quickie, okay?
Fine. Just for you, Anon...
Boop me and I'll thrash you.
doubling boops.
Cut your nails next time.
Now I am become Snoot, the seducer of dweebs.
Is it too long, Anon?
Anooooooooon!
Watch your fingers.
C'mere, dweeb.
I hope you washed your hands before this...
You just gonna stare?
<:samanthagremlin:947274207878852649> what's going on here, deary?